<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.admin.server.dao.OrganizationDao" >
  <resultMap id="BaseResultMap" type="Organization" >
    <id column="organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    organization_id, parent_id, name, description, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from admin_organization
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </select>
  <select id="selectByOrganizationName" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from admin_organization
    where name = #{organizationName,jdbcType=VARCHAR}
  </select>
  <select id="allOrganizationList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from admin_organization
  </select>
  <select id="pageOrganizationListCount" parameterType="map" resultType="long">
    select count(*) from admin_organization
  </select>

  <select id="pageOrganizationList" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from admin_organization
    <if test="start!=null and offset!=null">
      limit #{start}, #{offset}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from admin_organization
    where organization_id = #{organizationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="Organization" >
    insert into admin_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organizationId != null" >
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Organization" >
    update admin_organization
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = NOW(),
    </set>
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </update>
</mapper>