<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 使用方法:
       1.配置 properties.
       2.配置数据库驱动位置.
       3.配置需要反向生成代码的表.
       4.配置完成后,在子项目pattern-server下运行：mvn mybatis-generator:generate
       5.生成的代码在：pattern-server/target/generated-sources/mybatis-generator目录下.
     -->
    <!-- 1.指定配置文件路径. 本地相关 
    <properties  url="/Users/xieyongpei/workspace/cavlin/pattern/pattern-server/src/test/resources/jdbc_mysql_transaction.properties"/>
   -->
    <!-- 2.指定数据库jar驱动的物理位置, 本地相关.  -->
    <classPathEntry location="/Users/xieyongpei/.m2/repository/mysql/mysql-connector-java/8.0.18/mysql-connector-java-8.0.18.jar"/>
    
    <classPathEntry location="target/classes" />
    
    <context id="GuessTables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/trans?zeroDateTimeBehavior=convertToNull&amp;characterEncoding=utf8" userId="root"
            password="12345678">
        </jdbcConnection>

        <javaModelGenerator targetPackage="com.github.pattern.common.domain" targetProject="MAVEN">
            <property name="enableSubPackages" value="true" />
            <property name="rootClass" value="java.io.Serializable" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="MAVEN">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.github.pattern.server.dao"
            targetProject="MAVEN">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
    		
           <table tableName="pattern_agent" domainObjectName="Agent" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />

             <table tableName="pattern_customer" domainObjectName="Customer" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
             <table tableName="pattern_customer_payment_channel_fee" domainObjectName="CustomerPaymentChannelFee" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
             <table tableName="pattern_payment_channel" domainObjectName="PaymentChannel" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
            
            <table tableName="pattern_customer_payment_channel_info" domainObjectName="CustomerPaymentChannelInfo" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
            <table tableName="pattern_black_list" domainObjectName="PaymentBlackList" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
            
             <table tableName="pattern_payment_channel_account" domainObjectName="PaymentChannelAccount" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
            
             <table tableName="pattern_payment_channel_account_para" domainObjectName="PaymentChannelAccountPara" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
            
            
             <table tableName="pattern_payment_channelinfo_risk" domainObjectName="PaymentChannelInfoRisk" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
            
            
             <table tableName="pattern_payment_type" domainObjectName="PaymentType" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
             <table tableName="pattern_white_list" domainObjectName="PaymentWhiteList" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
             
              <table tableName="pattern_shop" domainObjectName="Shop" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />
            
             <table tableName="pattern_payment_template" domainObjectName="PaymentTemplate" enableSelectByExample="false" enableDeleteByExample="false"
            enableCountByExample="false" enableUpdateByExample="false" />

    </context>
</generatorConfiguration>
