<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Calendar" type="java.util.Calendar" />
		<typeAlias alias="System" type="com.github.admin.common.domain.System"/>
		<typeAlias alias="Role" type="com.github.admin.common.domain.Role"/>
		<typeAlias alias="Organization" type="com.github.admin.common.domain.Organization"/>
		<typeAlias alias="Permission" type="com.github.admin.common.domain.Permission"/>
		<typeAlias alias="RolePermission" type="com.github.admin.common.domain.RolePermission"/>
		<typeAlias alias="User" type="com.github.admin.common.domain.User"/>
		<typeAlias alias="UserOrganization" type="com.github.admin.common.domain.UserOrganization"/>
		<typeAlias alias="UserPermission" type="com.github.admin.common.domain.UserPermission"/>
		<typeAlias alias="UserRole" type="com.github.admin.common.domain.UserRole"/>
		<typeAlias alias="Log" type="com.github.admin.common.domain.Log"/>
		<typeAlias alias="UserInfo" type="com.github.admin.common.domain.UserInfo"/>
		<typeAlias alias="PermissionInfo" type="com.github.admin.common.domain.PermissionInfo"/>
		<typeAlias alias="ParentPermission" type="com.github.admin.common.domain.ParentPermission"/>
	</typeAliases>
	
	<typeHandlers>
        
         
    </typeHandlers>
	
</configuration>