<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PayChannelInfoRiskMapper" >
  <resultMap id="BaseResultMap" type="PayChannelInfoRisk" >
    <id column="pay_channelinfo_risk_id" property="payChannelInfoRiskId" jdbcType="INTEGER" />
    <result column="pay_channelinfo_id" property="payChannelInfoId" jdbcType="INTEGER" />
    <result column="paytype_id" property="payTypeId" jdbcType="INTEGER" />
    <result column="allow_time" property="allowTime" jdbcType="VARCHAR" />
    <result column="allow_num" property="allowNum" jdbcType="INTEGER" />
    <result column="pay_interval" property="payInterval" jdbcType="INTEGER" />
    <result column="single_money" property="singleMoney" jdbcType="VARCHAR" />
    <result column="day_money" property="dayMoney" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_most_number" property="userMostNumber" jdbcType="INTEGER" />
    <association property="payChannelInfo" javaType="com.eruige.pattern.common.domain.PayChannelInfo"> 
   		<result property="payChannelAccountId" column="pay_channel_account_id"/> 
   		<result property="payTypeId" column="paytype_id"/> 
  	</association> 
  </resultMap>
  <sql id="Base_Column_List" >
    pay_channelinfo_risk_id, pay_channelinfo_id, paytype_id, allow_time, allow_num, pay_interval, single_money, day_money,
    remark, user_most_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pattern_pay_channelinfo_risk
    where pay_channelinfo_risk_id = #{payChannelInfoRiskId}
  </select>
  <select id="selectInfoRiskByChannelInfoIdAndPayTypeIdCount" resultType="int" parameterType="java.util.Map" >
    select count(*) from pattern_pay_channelinfo_risk
    where pay_channelinfo_id = #{payChannelInfoId} and paytype_id=#{payTypeId}
  </select>
  
  <select id="selectByParams" resultMap="BaseResultMap"  parameterType="map" >
	  SELECT
		  a.`day_money` AS day_money,
		  b.`pay_channel_account_id` AS pay_channel_account_id,
		  b.`paytype_id` AS paytype_id
		FROM
		  `pattern_pay_channelinfo_risk` a
		  INNER JOIN `pattern_pay_channelinfo` b
		    ON a.`pay_channelinfo_id` = b.`pay_channelinfo_id`
		WHERE b.`paytype_id` in 
	    <foreach collection="payTypeIdArray" index="index" item="item" open="(" separator="," close=")">
	        #{item}       
	    </foreach>
		AND b.`pay_channel_account_id` in
		<foreach collection="accountIdArray" index="index" item="item" open="(" separator="," close=")">
	        #{item}       
	    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pattern_pay_channelinfo_risk
    where pay_channelinfo_risk_id = #{payChannelInfoRiskId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="PayChannelInfoRisk" >
    insert into pattern_pay_channelinfo_risk (pay_channelinfo_risk_id, pay_channelinfo_id, paytype_id,
      allow_time, allow_num, pay_interval,
      single_money, day_money, remark,
      user_most_number)
    values (#{payChannelInfoRiskId,jdbcType=INTEGER}, #{payChannelInfoId,jdbcType=INTEGER}, #{payTypeId,jdbcType=INTEGER},
      #{allowTime,jdbcType=VARCHAR}, #{allowNum,jdbcType=INTEGER}, #{payInterval,jdbcType=INTEGER},
      #{singleMoney,jdbcType=VARCHAR}, #{dayMoney,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{userMostNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="PayChannelInfoRisk" >
    insert into pattern_pay_channelinfo_risk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payChannelInfoRiskId != null" >
        pay_channelinfo_risk_id,
      </if>
      <if test="payChannelInfoId != null" >
        pay_channelinfo_id,
      </if>
      <if test="payTypeId != null" >
        paytype_id,
      </if>
      <if test="allowTime != null" >
        allow_time,
      </if>
      <if test="allowNum != null" >
        allow_num,
      </if>
      <if test="payInterval != null" >
        pay_interval,
      </if>
      <if test="singleMoney != null" >
        single_money,
      </if>
      <if test="dayMoney != null" >
        day_money,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userMostNumber != null" >
        user_most_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payChannelInfoRiskId != null" >
        #{payChannelInfoRiskId,jdbcType=INTEGER},
      </if>
      <if test="payChannelInfoId != null" >
        #{payChannelInfoId,jdbcType=INTEGER},
      </if>
      <if test="payTypeId != null" >
        #{payTypeId,jdbcType=INTEGER},
      </if>
      <if test="allowTime != null" >
        #{allowTime,jdbcType=VARCHAR},
      </if>
      <if test="allowNum != null" >
        #{allowNum,jdbcType=INTEGER},
      </if>
      <if test="payInterval != null" >
        #{payInterval,jdbcType=INTEGER},
      </if>
      <if test="singleMoney != null" >
        #{singleMoney,jdbcType=VARCHAR},
      </if>
      <if test="dayMoney != null" >
        #{dayMoney,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userMostNumber != null" >
        #{userMostNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="PayChannelInfoRisk" >
    update pattern_pay_channelinfo_risk
    <set >
      <if test="payChannelInfoId != null" >
        pay_channelinfo_id = #{payChannelInfoId,jdbcType=INTEGER},
      </if>
      <if test="payTypeId != null" >
        paytype_id = #{payTypeId,jdbcType=INTEGER},
      </if>
      <if test="allowTime != null" >
        allow_time = #{allowTime,jdbcType=VARCHAR},
      </if>
      <if test="allowNum != null" >
        allow_num = #{allowNum,jdbcType=INTEGER},
      </if>
      <if test="payInterval != null" >
        pay_interval = #{payInterval,jdbcType=INTEGER},
      </if>
      <if test="singleMoney != null" >
        single_money = #{singleMoney,jdbcType=VARCHAR},
      </if>
      <if test="dayMoney != null" >
        day_money = #{dayMoney,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userMostNumber != null" >
        user_most_number = #{userMostNumber,jdbcType=INTEGER},
      </if>
    </set>
    where pay_channelinfo_risk_id = #{payChannelInfoRiskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="PayChannelInfoRisk" >
    update pattern_pay_channelinfo_risk
    set pay_channelinfo_id = #{payChannelInfoId,jdbcType=INTEGER},
      paytype_id = #{payTypeId,jdbcType=INTEGER},
      allow_time = #{allowTime,jdbcType=VARCHAR},
      allow_num = #{allowNum,jdbcType=INTEGER},
      pay_interval = #{payInterval,jdbcType=INTEGER},
      single_money = #{singleMoney,jdbcType=VARCHAR},
      day_money = #{dayMoney,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      user_most_number = #{userMostNumber,jdbcType=INTEGER}
    where pay_channelinfo_risk_id = #{payChannelInfoRiskId,jdbcType=INTEGER}
  </update>
  
  <select id="selectPayChannelInfoRiskByChannelInfoIdAndPayTypeId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from pattern_pay_channelinfo_risk
    where pay_channelinfo_id = #{payChannelInfoId} and paytype_id=#{payTypeId}
  </select>
</mapper>