<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.pattern.server.dao.PayChannelInfoDao" >
  <resultMap id="BaseResultMap" type="com.github.pattern.common.domain.PayChannelInfo" >
    <id column="pay_channelinfo_id" property="payChannelinfoId" jdbcType="INTEGER" />
    <result column="pay_channel_id" property="payChannelId" jdbcType="INTEGER" />
    <result column="pay_channel_account_id" property="payChannelAccountId" jdbcType="INTEGER" />
    <result column="paytype_id" property="paytypeId" jdbcType="INTEGER" />
    <result column="channelinfo_name" property="channelinfoName" jdbcType="VARCHAR" />
    <result column="is_lock" property="isLock" jdbcType="BIT" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="salefee" property="salefee" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pay_channelinfo_id, pay_channel_id, pay_channel_account_id, paytype_id, channelinfo_name, 
    is_lock, fee, salefee, remark, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pattern_pay_channelinfo
    where pay_channelinfo_id = #{payChannelinfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pattern_pay_channelinfo
    where pay_channelinfo_id = #{payChannelinfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.pattern.common.domain.PayChannelInfo" >
    insert into pattern_pay_channelinfo (pay_channelinfo_id, pay_channel_id, pay_channel_account_id, 
      paytype_id, channelinfo_name, is_lock, 
      fee, salefee, remark, 
      create_time)
    values (#{payChannelinfoId,jdbcType=INTEGER}, #{payChannelId,jdbcType=INTEGER}, #{payChannelAccountId,jdbcType=INTEGER}, 
      #{paytypeId,jdbcType=INTEGER}, #{channelinfoName,jdbcType=VARCHAR}, #{isLock,jdbcType=BIT}, 
      #{fee,jdbcType=DECIMAL}, #{salefee,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.github.pattern.common.domain.PayChannelInfo" >
    insert into pattern_pay_channelinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payChannelinfoId != null" >
        pay_channelinfo_id,
      </if>
      <if test="payChannelId != null" >
        pay_channel_id,
      </if>
      <if test="payChannelAccountId != null" >
        pay_channel_account_id,
      </if>
      <if test="paytypeId != null" >
        paytype_id,
      </if>
      <if test="channelinfoName != null" >
        channelinfo_name,
      </if>
      <if test="isLock != null" >
        is_lock,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="salefee != null" >
        salefee,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payChannelinfoId != null" >
        #{payChannelinfoId,jdbcType=INTEGER},
      </if>
      <if test="payChannelId != null" >
        #{payChannelId,jdbcType=INTEGER},
      </if>
      <if test="payChannelAccountId != null" >
        #{payChannelAccountId,jdbcType=INTEGER},
      </if>
      <if test="paytypeId != null" >
        #{paytypeId,jdbcType=INTEGER},
      </if>
      <if test="channelinfoName != null" >
        #{channelinfoName,jdbcType=VARCHAR},
      </if>
      <if test="isLock != null" >
        #{isLock,jdbcType=BIT},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="salefee != null" >
        #{salefee,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.pattern.common.domain.PayChannelInfo" >
    update pattern_pay_channelinfo
    <set >
      <if test="payChannelId != null" >
        pay_channel_id = #{payChannelId,jdbcType=INTEGER},
      </if>
      <if test="payChannelAccountId != null" >
        pay_channel_account_id = #{payChannelAccountId,jdbcType=INTEGER},
      </if>
      <if test="paytypeId != null" >
        paytype_id = #{paytypeId,jdbcType=INTEGER},
      </if>
      <if test="channelinfoName != null" >
        channelinfo_name = #{channelinfoName,jdbcType=VARCHAR},
      </if>
      <if test="isLock != null" >
        is_lock = #{isLock,jdbcType=BIT},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="salefee != null" >
        salefee = #{salefee,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pay_channelinfo_id = #{payChannelinfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.pattern.common.domain.PayChannelInfo" >
    update pattern_pay_channelinfo
    set pay_channel_id = #{payChannelId,jdbcType=INTEGER},
      pay_channel_account_id = #{payChannelAccountId,jdbcType=INTEGER},
      paytype_id = #{paytypeId,jdbcType=INTEGER},
      channelinfo_name = #{channelinfoName,jdbcType=VARCHAR},
      is_lock = #{isLock,jdbcType=BIT},
      fee = #{fee,jdbcType=DECIMAL},
      salefee = #{salefee,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where pay_channelinfo_id = #{payChannelinfoId,jdbcType=INTEGER}
  </update>
</mapper>